<h1>Leaderboard</h1>


<div class="table-responsive">
<table class="table table-responsive table-bordered table-hover table-condensed">
  <tr>
  		<th>Submission ID</th>
     	<th>score</th>
  </tr>
 
  <% @list.each do |list_item| %>
    <tr>
     	<td><%= list_item[:id] %></td>
      	<td><%= list_item[:score] %></td>
    </tr>
  <% end %>
</table>
</div>

<%= link_to "Back to List of Submissions", submissions_path%>

